.success {
  background-color: gray;
  border: black 1px solid;
  border-radius: 2px;
  padding: 10px;
}

.error {
  background-color: rgba(220, 29, 29, 0.75);
  border: black 1px solid;
  border-radius: 2px;
  padding: 10px;
}

.dog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 200px;
}